@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7d7d7d;
}

video{
    position: absolute;
    z-index: -1;
    width: 1920px;
}

ul{
    list-style: none;
}

a{
    color: #cecccc;
    text-decoration: none;
}

.container{
    width: 100%;
}

header{
    /* text-align: center; */
    width: 100%;
}

header ul{
    display: flex;
}

header ul li{
    font-size: 20px;
    width: 25%;
    line-height: 80px;
    text-align: center;
}

header ul li:hover{
    border-bottom: 10px solid #ffaf20;
}

.name{
    height: 600px;
    text-align: center;
    position: relative;
}

.name .logo{
    color: #ffaf20;
    font-size: 5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.name .logo h1{
    font-family: 'Abril Fatface', cursive;
}

.name .contact{
    color: black;
    background-color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border: 2px solid #ffaf20;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}

.name .contact:hover{
    background-color: #ffaf20;
    border: 1px solid #ffaf20;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.6);

    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal-inner{
    border: 1px solid white;
    border-radius: 20px;
    width: 700px;
    height: 300px;
    background-color: #7d7d7d;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-inner h1{
    line-height: 100px;
}

.modal-inner p{
    line-height: 50px;
}

.modal-inner button{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border: none;
}
