@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7d7d7d;
}

ul{
    list-style: none;
}

a{
    color: #cecccc;
    text-decoration: none;
}

.container{
    width: 100%;
}

header{
    /* text-align: center; */
    width: 100%;
}

header ul{
    display: flex;
}

header ul li{
    font-size: 20px;
    width: 25%;
    line-height: 80px;
    text-align: center;
}

header ul li:hover{
    border-bottom: 10px solid #ffaf20;
}

.name{
    height: 600px;
    text-align: center;
    position: relative;
}

.name .port{
    color: #ffaf20;
    font-size: 5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.name .port h1{
    font-family: 'Abril Fatface', cursive;
}

.button{
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 50%;
}

.name .sujung, .hongbo, .license, .other{
    color: white;
    margin: 20px;
    border: 1px solid white;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
}

.name .sujung:hover,.hongbo:hover,.license:hover,.other:hover{
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
}


.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.6);

    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.sujung-modal, .hongbo-modal, .license-modal{
    border: 1px solid white;
    border-radius: 20px;
    width: 700px;
    height: 500px;
    background-color: #7d7d7d;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sujung-modal h1,.hongbo-modal h1, .license-modal h1{
    line-height: 100px;
}

.sujung-modal p, .hongbo-modal p, .license-modal p{
    font-size: x-large;
}

.modal button{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border: none;
}